@keyframes animation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(10%);
    }
}

#dc {
    
    display: flex;
    
}

.navc {
    font-size: 1.3rem;
    position: relative;
    top: 2rem;
    margin: 20px 10px;
    width: 75%;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    border-bottom: 20px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 90px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    animation-name: animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#cover {
    margin-left: 0;
    width: 100%; 
}

.name {
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}

body {
    margin: 0;
    background-repeat: repeat;
}

.object {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    margin: 20px 0; 
}

footer {
    background-color: rgb(39, 38, 38);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-bar {
    justify-content: center;
    border-top: white;
    max-width: 1127px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

ul.footer-content {
    font-size: large;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    text-align: left;
}

.robots-heading {
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%; 
}

.robotssection {
    margin: 0px;
    align-items: normal;
}

.robocon {
    font-size: large;
    font-family: cursive;
    color: white;
    text-align: center;
}

#robo {
    margin-top: 30px;
    border-radius: 30px;
    padding: 20px 32px;
    background-color: orangered;
    border: none;
}

#robo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#supn
{
    font-size: large;
}
@media (max-width: 1100px) {
    #dc {
        flex-direction: column; 
    }
    .robotssection,
    .robocon {
        width: 100%;
        text-align: center;
    }
    *
    {
        width: 100%;
    }
    #fh
    {
        font-size: 50px;
    }
    .footer-content
    {
        width: 90%;
    }
    .navc
    {
        flex-direction: column;
        margin-left: -10px;
    
    }
    img
    {
        height: 300px;
        width: auto;
    }
    #cover
    {
        height: 700px;
        margin-top: -70px;
        width: 102%;
    }
    #navcf
    {
        font-size: smaller;
    }
    #supn
    {
        font-size: 10px;
    }
    footer{
        width: 102%;
    }
}
